* {
  margin: 10px;
  padding: 10px;
}

body {
  max-width: 1200px;
}

header,
main,
footer {
  background-color: black;
}

nav {
  background-color: rgb(26, 26, 60);
  display: flex;
}

.item {
  background-color: rgb(220, 20, 37);
}

.left,
.right {
  flex: 1;
}

.center {
  flex: 4;
}

.container-title {
  background-color: rgb(255, 115, 0);
}

.title {
  background-color: rgb(254, 231, 21);
}

main {
  display: flex;
}

section {
  background-color: rgb(38, 38, 81);
  flex: 2;
  display: flex;
  flex-flow: row wrap;
}

article {
  background-color: rgb(35, 70, 208);
  flex: 1 1 40%;
}

.art-center {
  background-color: rgb(101, 210, 222);
  flex: 1 1 100%;
}

aside {
  background-color: rgb(252, 10, 10);
  flex: 1;
}

aside div {
  background-color: rgb(242, 242, 105);
}

footer div {
  background-color: rgb(230, 230, 12);
}

@media (max-width: 1024px) {
  main {
    background-color: yellow;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  nav {
    flex-direction: column;
  }
  section {
    background-color: #09506f;
  }
  article {
    background-color: #a3ddcb;
  }

  aside {
    background-color: #fd7b54;
  }

  aside div {
    background-color: #fdb36b;
  }
  footer div {
    background-color: #fdc764;
  }
}
